body {
    background-color: hsl(195, 53%, 79%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    color: white;
    text-shadow: 1px 1px 2px hsl(0, 0%, 0%), 0 0 25px hsl(240, 100%, 50%), 0 0 5px hsl(240, 100%, 27%);
}

.main {
    display: flex;
    flex-direction: row;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 4%;
    padding: 20px;
    background-color: hsl(34, 57%, 70%);
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4), 0 6px 20px 0 hsla(0, 0%, 0%, 0.4);
}

.controls {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
}

.sizeLabel {
    margin: 5px;
    font-size: larger;
}

.colorLabel {
    margin: 5px;
    font-size: larger;
}

#resetBtn {
    width: 100px;
    margin: 10px;
    font-size: larger;
}

#gridBtn {
    width: 100px;
    margin: 10px;
    font-size: larger;   
}

#fadeBtn {
    width: 100px;
    margin: 10px;
    font-size: larger;    
}

#rainbowBtn {
    width: 100px;
    margin: 10px;
    font-size: larger;   
}

#picker {
    width: 60px;
    height: 60px;   
    font-size: medium;
    background-color: transparent;
    border-color: transparent;   
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
  }

#canvass {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4), 0 6px 20px 0 hsla(0, 0%, 0%, 0.4);
}

.pixel {
    background-color: hsl(0, 0%, 100%);
    border: 1px ridge hsl(0, 0%, 93%);
}

.toggleGrid {
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
}